
/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Common Style  */
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Mulish', sans-serif;
    background-color: #10161d;
    color: white;
}

/* Header style  */
header{
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 2;
}
.container{
    width: 1100px;
    padding: 0px 10px;
    margin-bottom: 20px;
    background-color: #1c2939;

}
.navigation{
    /* background-color: #1c2939; */
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    border-radius: 5px;
    
    

}
.left-logo{
    
    display: flex;
    align-items: center;
    
}
.left-logo .fa-play-circle{
    font-size: 35px;
    color: #3c8cf0;
    /* background-color: white; */
}
.left-logo .logo-title{
    margin-left: 20px;
    color: white;
    font-size: 25px;
}
.after-mx{
    font-size: 20px;
    font-weight: 200;
}
nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar{

}
nav .nav-bar a{
    /* display: block; */
    text-decoration: none;
    color: rgba(255, 255, 255, 0.445);
    padding: 15px;
    font-size: 12px;
    text-align: center;
}
nav .nav-bar a:hover{
    color: white;
    border-bottom: 3px solid white;
    border-radius: 3px;
    transition: all 0.3s;
    
}
.search-setting{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.863);
}
.same-effect{
    padding: 0px 10px;
    transition: transform 0.5s linear;
}
.same-effect:hover{
    transform: rotate(60deg) scale(1.2);
    
}

/* Top Star Style */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.top-star{
    padding:20px;
}
.top-title{
    font-size: 25px;
    color: rgb(207, 207, 253);
}
.stars{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:20px;
    grid-row-gap:30px;
}
.star{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    transition: all ease-in-out 0.3s;
    
}
.star:hover{
    box-shadow: 1px 1px 19px 0px #8080808c;
    transform: scale(1.1);
}
.star-info {
    display: flex;
    align-items: center;
}
.star .star-info img{
    width: 80px;
    height: 80px;
}
.star-info .star-name{
    padding-left: 20px;
}
.star-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 20px; */
    background-color: rgba(248, 81, 81, 0.336);
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 10px;
    /* width: 50px; */
}
.star-rating span{
    padding-left: 15px;
}
.fas.field{
    color:rgba(255, 255, 0, 0.938);
}
.fas.empty{
    color: rgba(255, 255, 255, 0.938);
}

/* Movie Section Style  */
.movies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
}
.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.movie .moive-banner{
    width: 250px;
    height: 340px;
    overflow: hidden;
    position: relative;
    
}

.movie .moive-banner img{
   width: 100%;
   height: 100%;
   transition: all ease-in-out 0.5s;
   position: relative;
   /* z-index: -2; */
}

.movie .moive-banner:hover  img{
    transform: scale(1.1);
}
.moive-banner .transparent{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 0;
    transform: translateY(340px);
    /* display: none; */
    transition: transform ease-in-out 0.5s;
}
.moive-banner:hover .transparent{
    transform: translateY(0px);
    /* display: block; */
}
.movie h4{
    /* font-size: 20px; */
    font-size: 1.1em;
    margin: 0;
    padding: 5px 0px;
}
.movie p{
    margin: 0;
    padding: 5px 0px;
    font-size: 0.8em;
}



